/*
* Autor: Fabio Andres Tobon Quesada
* email: fandres69@gmail.com
* Fecha: Octubre de 2019
* Descripci칩n: Hoja de estilos pagina modelo OVI conexi칩n a Mysql con Php.
*
*/

/*Propiedades menu lateral*/
.Menulateral {
    height: 100%; 
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #005883; 
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s; 
    margin-top: 60px;
  }
  
/*Propiedades de los enlaces del menu*/
  .Menulateral a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #333333;
    display: block;
    transition: 0.3s;
  }
  
  /*Evento de cambio de color en los enlaces del menu */
  .Menulateral a:hover {
    color: #f1f1f1;
  }
 
  .Bsuperior{
    
    background-color: #005883;   
    height: 70px;
  }
  
  .CBton{
    height:100% ;
    width: 250px;
  }
  
   
  /*Propiedades que muestran el menu lateral*/
  .CBton a {    
    padding: 7px 7px 7px 7px;
    text-decoration: none;
    margin-left: 12px;
    font-size: 36px;
    color: #333333;
    display: block;
    transition: 0.3s;      
  }
  
  /* Propiedades del bot칩n que abre el menu */
  .CBton a:hover {
   color: #F0B429;
  }
.Bsuperior h2{
  color: white;
  padding: 5px,5px,5px,5px;
  margin-top: 10px;
}



  /* Estilo cuando se despliega el menu lateral */
  #Contenido {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* Propiedad para pantallas mas peque침as*/
  @media screen and (max-height: 450px) {
    .Menulateral {padding-top: 15px;}
    .Menulateral a {font-size: 18px;}
  }

  .justificado{
    text-justify: distribute-all-lines;
  }

  .botonapp{
   background-color: #005883;
   color: #F0B429;
   border: 1px solid #005883;
   height: 40px;
   width: 100px;
  }
  .botonapp:hover{
    background-color:white;
    border: 1px solid #F0B429;  
    
  }
 .sellos{
  position: fixed;  
  bottom: 0;
  right:25px;

 }

 .tips{
   color: white;
   background-color: white;
  
 }
 .tips:hover{
   color: white;
   background-color: #333333;
   font-size: 32px;
  
 }
